body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

#show-list-container {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.show-card,
#card-temp {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.show-card {
  text-align: center;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 10px;
}

#firstSection,
#secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#firstSection {
  background-color: bisque;
}

#secondSection {
  background-color: rgb(255, 253, 249);
}

#episode-title,
#show-title {
  margin: 0;
  text-decoration: underline; /* or any other style you prefer */
}

#episode-img,
#show-img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

#episode-code,
#episode-summary,
#show-summary,
#show-genres,
#show-status,
#show-rating,
#show-runtime {
  margin: 10px 0;
}

#search,
#episode-selector,
#all-episodes {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
}