#root {
  color: rgb(39, 39, 39);
  background-color: beige;
}

#episode-card{
  display: flex;
  flex-direction: row;
}

#firstSection{
  background-color: bisque;
  padding: 2px;
}

#secondSection{
  background-color: antiquewhite;
  padding: 2px;
}